# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Python
__pycache__/
*.pyc
*.db
.venv/
venv/
backend/.venv/
backend/venv/

# Env files
.env
backend/.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
logs/
plan.md

frontend/.env.local
todo